/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 40vh; /* Sidebar height */
    width: 25vh;
    background-color: rgb(57, 49, 49); /* Dark background color */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ecf0f1; /* Light text color */
}

.sidebar-title {
    font-size: 24px;
    text-align: center;
    color: #ecf0f1;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin-bottom: 120px;
}

.sidebar-links li {
    margin: 20px 0;
}

.sidebar-links a {
    text-decoration: none;
    color: #ecf0f1; /* Light text color for links */
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

/* Hover effect for links */
.sidebar-links a:hover {
    color: #f39c12; /* Highlight text color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Slight background highlight on hover */
}

/* Active link with white box */
.sidebar-links a.active {
    background-color: #fff; /* White background for active link */
    color: #333; /* Darker text color for active link */
    border: 2px solid #f39c12; /* Border to create box effect */
    font-weight: bold;
}
